@forward '../../node_modules/bourbon/core/_bourbon.scss';
////
/// @group utils
/// this file can be used in anywhere offcourse in `util/`
////

/// content-width map.
/// this is related to break-point or content-width.
$content-width: (
  min: 320px,
  max: 1440px,
  landscape: 896px,
  pc: 1200px
) !default;

/// @param {$content-width key} $size choice key from $content-width map.
/// @returns {$content-width val} return $content-width val.
@function width($size) {
  @return map-get($content-width, $size);
}

/// break-point map.
///
/// mobile-first is on by default.
/// @require {function} width
$breaks: (
  min: 'screen and (max-width:#{width(min)})',
  max: 'screen and (min-width: #{width(max)})',
  sm: 'screen and (max-width:#{width(landscape)})',
  md: 'screen and (min-width:#{(width(landscape) + 1)})',
  lg: 'screen and (min-width:#{width(pc)})'
) !default;

/// @param {$breaks key} $name choice key from $breaks map.
@mixin break($point: md) {
  @media #{map-get($breaks, $point)} {
    @content;
  }
}

/// short-hand of use pseudo
@mixin before() {
  &:before {
    display: block;
    content: '';
    @content;
  }
}

/// short-hand of use pseudo
@mixin after() {
  &:after {
    display: block;
    content: '';
    @content;
  }
}
